<% if @rent_items.blank? do %>
    <h1>You didn't add category!</h1>
    <p>Choose one category please:
        <%= link_to 'Summer Equipment', rent_items_path(rent_type: 'summer equipment') %> |
        <%= link_to 'Winter Equipment', rent_items_path(rent_type: 'winter equipment') %> |
        <%= link_to 'Bicycle', rent_items_path(rent_type: 'bicycle') %> |
        <%= link_to 'Electric Scooter', rent_items_path(rent_type: 'electric scooter') %>
    </p>
    <% end %>
<% else %>
  <section class="blog text-gray-700 rounded-md ">
    <div class="max-w-6xl px-2 py-8 mx-auto rounded-md">
      <div class="w-full my-10 items-center text-center drop-shadow">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 filter"><p>You're looking for:</p><%= params[:rent_type] %></p></h1>
      </div>
      <div class="sm:grid grid-cols-1 md:grid-cols-3 gap-8">
        <%= render partial: 'rent_item', collection:  @rent_items, as: :item %>
      </div>
    </div>
  </section>
  <div class="flex flex-col items-center mb-3">
        <%== pagy_nav(@pagy) unless @rent_items.empty? %>
  </div>
<% end %>