<div class="h-screen font-sans login bg-cover" style='background-image: url(<%= asset_path 'cards/bglogin.jpg'%>)'>
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <div class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p class="text-white text-center text-lg font-bold">Please Log in</p>
            <div class="mt-2">
              <%= f.label :email, class:"block text-sm text-white"%>
              <%= f.email_field :email, class:"w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white", placeholder:"Your Email", autocomplete: "email" %>
            </div>
            <div class="mt-2">
              <%= f.label :password, class:"block  text-sm text-white"%>
              <%= f.password_field :password, class:"w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white", placeholder:"Password", autocomplete: "current-password" %>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="field mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
            <div class="mt-4 items-center flex justify-between">
              <%= f.submit "Log in", class:"px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"%>
            </div>
              <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>