<div class="h-screen md:grid md:items-center px-8 md:px-80 ">
    <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
        <%= form_with model: [:dashboard, @rent_item] do |f|%>
                <div class="grid grid-cols-1 gap-6 mt-4  lg:grid-cols-2">
                    <div class= 'border-t-2 border-green-500 border-rounded rounded-t'>
                        <%= f.label :item_type, class:"text-gray-700 dark:text-gray-200 bg-opacity-2 border-b-2 bg-opacity-5 border-green-600 rounded-b" %>
                        <%= f.select :item_type, ITEM_TYPES, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-500 dark:focus:border-blue-500" %>
                    </div>

                    <div class= 'border-t-2 border-green-500 border-rounded rounded-t'>
                        <%= f.label :condition, class:"text-gray-700 dark:text-gray-200 focus:outline-none border-b-2 bg-opacity-5 border-green-600 rounded-b" %>
                        <%= f.select :condition, CONDITIONS, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-gray-300 border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                    </div>

                    <div class= 'border-t-2 border-green-500 border-rounded rounded-t'>
                        <%= f.label :location, class:"text-gray-700 dark:text-gray-200 border-b-2 bg-opacity-5 border-green-600 rounded-b" %>
                        <%= f.text_field :location, id:"location", type:"text", class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-gray-100 hover:bg-gray-200 border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-500 dark:focus:border-green-500 focus:outline-none ", placeholder: 'Your Location' %>
                    </div>

                    <div class= 'border-t-2 border-green-500 border-rounded rounded-t'>
                        <%= f.label :for_age, class:"text-gray-700 dark:text-gray-200 border-b-2 bg-opacity-5 border-green-600 rounded-b " %>
                        <%= f.select :for_age, FOR_AGES, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                    </div>

                    <div class= "flex flex-row mt-4 border-green-500 border-rounded rounded-t">
                        <%= f.label "Active", class:"text-gray-700 dark:text-gray-200  border-b-2 bg-opacity-5 border-green-600 rounded-b" %>
                        <%= f.check_box :available, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-gray-100 border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                    </div>
                </div>

                    <div class="flex items-end mt-12 w-4/12 space-x-3 ">
                        <%= f.submit class:"uppercase text-sm font-bold bg-green-600 text-gray-100 p-3 rounded-lg focus:shadow-outline transition-colors duration-200 hover:bg-green-700 dark:hover:bg-gray-200" %>
                        <%= link_to 'Cancel', dashboard_rent_items_path, class:"uppercase  text-sm font-bold bg-green-600 text-gray-100 p-3 rounded-lg  focus:shadow-outline transition-colors duration-200  hover:bg-green-700 dark:hover:bg-gray-200" %>
                    </div >
            </div>
        <% end %>
    </section>
</div>